/* Page Background Color */
#reachOut {background-color: #fcfcfc;color: #121212;}

/* Grid Color */
div#grid {background-color: #fff;}

/* Twitter Colors */
div.color1 {background-color: #ffffff;color: #999999;}
div.color2 {background-color: #9d0b0b;color: #ffffff;}